<script type="ld-conf">
{
  "label": "Paragraph"
}
</script>

<p doc-editable="text">
  Studio Ghibli, Inc. is a Japanese animation film studio based in Koganei, Tokyo, Japan. The studio is best known for its anime feature films. Studio Ghibli began in June 1985 after the success of Nausicaä of the Valley of the Wind with funding by Tokuma Shoten. The company’s logo features the character Totoro (a large forest spirit) from Miyazaki’s film My Neighbor Totoro. At one time the studio was based in Kichijōji, Musashino, Tokyo.
</p>
